.git
.gitignore

.venv
venv
env

__pycache__
*.py[cod]
*$py.class

.pytest_cache
.mypy_cache
.ruff_cache

.env
.env.*

logs/
*.log

.idea/
.vscode/

dist/
build/
*.egg-info/

Dockerfile*
docker-compose*.yml

README.md